<div class="jumbotron text-center">
	<h1>CRUD <span class="label label-info">{{ objectdatas.length }}</span></h1>
</div>

<!-- CRUD -->
		<div id="todo-list" class="row">
			<div class="col-sm-4 col-sm-offset-4">

				<!-- LOOP OVER THE DATAS IN $scope.todos -->
				<div class="checkbox" ng-repeat="object in objectdatas">
					<label>
						<input type="checkbox" ng-click="deleteObject(object_id)"> {{ object.name }}-::-{{ object.time }}
					</label>
				</div>

			</div>
		</div>

		<!-- FORM TO CREATE DATAS -->
		<div id="todo-form" class="row">
			<div class="col-sm-8 col-sm-offset-2 text-center">
				<form>
					<div class="form-group">

						<!-- BIND THIS VALUE TO formData.text IN ANGULAR -->
						<input type="text" class="form-control input-lg text-center" placeholder="Object name" ng-model="formData.name">
						<input type="text" class="form-control input-lg text-center" placeholder="Object temperature" ng-model="formData.temperature">
						<input type="text" class="form-control input-lg text-center" placeholder="Object humidity" ng-model="formData.humidity">
						<input type="text" class="form-control input-lg text-center" placeholder="Object sound" ng-model="formData.sound">
						<input type="text" class="form-control input-lg text-center" placeholder="Object light" ng-model="formData.light">
						<input type="text" class="form-control input-lg text-center" placeholder="Object movement" ng-model="formData.movement">
					</div>

					<!-- createObject() WILL CREATE NEW DATAS -->
					<button type="submit" class="btn btn-primary btn-lg" ng-click="createObject()">Add</button>
				</form>
			</div>
		</div>