<div class="jumbotron">
  <div class="container">

  </div>
</div>

<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      {{headingTitle}}
      <div class="pull-right">
        <!-- <input class="search" type="text" ng-model="query.name" placeholder="Search..."> -->
        <!-- <input class="search" type="text" placeholder="Search..."> -->
      </div>
    </div>
    <br>
    <div class="panel-body">
      <div class="jumbotron">
          <h1>Hello, eDreamers!</h1>
          <p>This is your paltform window to the fascinating IOT World.</p>
          <p><a href="/login"class="btn btn-primary btn-lg" role="button">Connect your Device  <span class="glyphicon glyphicon-log-in"></span></a>


          </p>
      </div>


      <div class="accueilImg">
        <img  src="../Capture.PNG">
</div>


    </div>
  </div>
</div>